<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>播放器详情</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0;
        }
        html, body{
            height: 100%;
            width: 100%;
            background-color: #ececec;
        }
        .disk, .info, .comments, .recommend{
            float: left;
        }
        .info{
            height: 100%;
        }
        .disk, .info{
            width: 50%;
        }
        .comments{
            width: 70%;
        }
        .recommend{
            width: 30%;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="css/music-player-info.css">
    <div style="width: 100%;height: 80%;">
        <div class="disk">
            <div class="box">
                <img class="disk-back" src="images/music_disk.png" alt="">
                <img class="disk-cover" src="http://p1.music.126.net/sQKLXBR_GThk5n-M2wtdDg==/758663033420897.jpg?param=130y130" alt="">
            </div>
        </div>
        <div class="info">
            <div id="lyrics"></div>
        </div>
    </div>
    <div>
        <div class="comments" id="comments_app">
            <div class="add-comment">
                <div>
                    <input v-model="inputComment" type="text" placeholder="发表评论" @keypress="addComment">
                </div>
            </div>
            <div class="comment" v-for="comment in comments">
                <div class="content">
                    <div style="width: 10%;margin:0 2%;">
                        <img style="width: 100%;" :src="comment.avatar || '/images/song-list.png'" alt="">
                    </div>
                    <div style="width: 80%">
                        <h3 style="margin-bottom:10px">{{comment.nickname}}</h3>
                        <p>{{comment.content}}</p>
                        <template v-if="comment.sub_cid">
                            <div class="sub-comment"  v-for="parentComment in getParentComment(comment.sub_cid)">
                                <span>@{{parentComment.nickname}}:</span>
                                <span>{{parentComment.content}}</span>
                            </div>
                        </template>
                    </div>
                </div>

                <div class="operations" style="clear: both;">
                    <div @click="addSubComment(comment.cid)">评论</div>
                </div>
                <hr style="clear: both;">
            </div>
        </div>
        <div class="recommend">s</div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/music-player-lyric.js"></script>
    <script src="js/comments.js"></script>

    <div id="comment-popover">
        <textarea></textarea>
        <br>
        <button>发表</button>
    </div>
</body>
</html>