html, body {
    width: 100%;
    height: 100%;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    width: 100%;
    height: 10%;
}

article {
    width: 100%;
    height: auto;
}

/* 编辑头部 */
.searchResult{
    width: 100%;
    height: 100%;
}
.searchResult>div{
    margin: 30px 50px;
}

.searchResult font{
    color: red;
}

#table4SearchSongs {
    /* background-color: pink; */
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    table-layout: fixed;
    font-family: 'Times New Roman', Times, serif;
}
#table4SearchSongs thead td{
    border: 1px solid black;
    
}

#table4SearchSongs thead tr{
    border: 1px;
    line-height: 35px;
}
#table4SearchSongs tbody tr{
    line-height: 25px;
}
#table4SearchSongs thead div{
    border: 1px solid black;
    border-right: 0px;
}

#likeOrNo>img{
    height: 30px;
    overflow: auto;
    opacity: 0.2;
}

/* 
设置隐藏列表
 */
.showOptions{
    width: 200px;
    height: 100px;
    display: none;
    position: absolute;
    background-color: white;
    border: 0.1px dashed black;
    
}
.showOptions>div{
    width: 100%; 
    height: 30%;
    font-size: 25px;
    /* padding: 5px; */
    margin-top: 10px;
}

.showOptions>div:hover{
    background-color: lightgray;
}